@tailwind base;
@tailwind components;
@tailwind utilities;
 
body {
    /* CSS Variables that may have been missed get put on body */
    --ec-primary: #005cff;
    --ec-secondary: #333333;
    --ec-secondary-opacity: rgba(51, 51, 51, 0.1);
    --ec-ternary: #1a1a1a;
    --ec-interaction: #005cff;
    --ec-interaction-h: #0054e6;
    --ec-interaction-a: #004acc;
    --ec-interaction-compl: #ffffff;
    --ec-interaction-high-contrast: #ffffff;
    --ec-text-01: #333333;
    --ec-text-02: #333333;
    --ec-text-03: #b3b3b3;
    --ec-text-04: #ffffff;
    --ec-text-05: #333333;
    --ec-ui-02: #e6e6e6;
    --ec-ui-03: #b3b3b3;
    --ec-background: #f7f7f7;
    --ec-elevation-01: #ffffff;
    --darkreader-bg--ec-primary: #004acc;
    --darkreader-text--ec-primary: #3399ff;
    --darkreader-text--ec-secondary: #c8c3bc;
    --darkreader-border--ec-secondary: #7b7265;
    --darkreader-bg--ec-secondary-opacity: rgba(38, 42, 43, 0.1);
    --darkreader-bg--ec-ternary: #141516;
    --darkreader-bg--ec-interaction: #004acc;
    --darkreader-text--ec-interaction: #3399ff;
    --darkreader-bg--ec-interaction-h: #0043b8;
    --darkreader-text--ec-interaction-h: #42a1ff;
    --darkreader-bg--ec-interaction-a: #003ba3;
    --darkreader-text--ec-interaction-compl: #e8e6e3;
    --darkreader-bg--ec-interaction-high-contrast: #181a1b;
    --darkreader-bg--ec-text-01: #262a2b;
    --darkreader-text--ec-text-01: #c8c3bc;
    --darkreader-border--ec-text-01: #7b7265;
    --darkreader-text--ec-text-02: #c8c3bc;
    --darkreader-bg--ec-text-03: #43484b;
    --darkreader-text--ec-text-03: #b8b2a9;
    --darkreader-border--ec-text-03: #454b4e;
    --darkreader-text--ec-text-04: #e8e6e3;
    --darkreader-text--ec-text-05: #c8c3bc;
    --darkreader-bg--ec-ui-02: #26292b;
    --darkreader-border--ec-ui-02: #373c3e;
    --darkreader-bg--ec-ui-03: #43484b;
    --darkreader-border--ec-ui-03: #454b4e;
    --darkreader-bg--ec-background: #1d1f20;
    --darkreader-bg--ec-elevation-01: #181a1b;
    --ec-primary: #005cff;
    --ec-secondary: #333333;
    --ec-secondary-opacity: rgba(51, 51, 51, 0.1);
    --ec-ternary: #1a1a1a;
    --ec-interaction: #005cff;
    --ec-interaction-h: #0054e6;
    --ec-interaction-a: #004acc;
    --ec-interaction-compl: #ffffff;
    --ec-interaction-high-contrast: #ffffff;
    --ec-text-01: #333333;
    --ec-text-02: #333333;
    --ec-text-03: #b3b3b3;
    --ec-text-04: #ffffff;
    --ec-text-05: #333333;
    --ec-ui-02: #e6e6e6;
    --ec-ui-03: #b3b3b3;
    --ec-background: #f7f7f7;
    --ec-elevation-01: #ffffff;
    --darkreader-bg--ec-primary: #004acc;
    --darkreader-text--ec-primary: #3399ff;
    --darkreader-text--ec-secondary: #c8c3bc;
    --darkreader-border--ec-secondary: #7b7265;
    --darkreader-bg--ec-secondary-opacity: rgba(38, 42, 43, 0.1);
    --darkreader-bg--ec-ternary: #141516;
    --darkreader-bg--ec-interaction: #004acc;
    --darkreader-text--ec-interaction: #3399ff;
    --darkreader-bg--ec-interaction-h: #0043b8;
    --darkreader-text--ec-interaction-h: #42a1ff;
    --darkreader-bg--ec-interaction-a: #003ba3;
    --darkreader-text--ec-interaction-compl: #e8e6e3;
    --darkreader-bg--ec-interaction-high-contrast: #181a1b;
    --darkreader-bg--ec-text-01: #262a2b;
    --darkreader-text--ec-text-01: #c8c3bc;
    --darkreader-border--ec-text-01: #7b7265;
    --darkreader-text--ec-text-02: #c8c3bc;
    --darkreader-bg--ec-text-03: #43484b;
    --darkreader-text--ec-text-03: #b8b2a9;
    --darkreader-border--ec-text-03: #454b4e;
    --darkreader-text--ec-text-04: #e8e6e3;
    --darkreader-text--ec-text-05: #c8c3bc;
    --darkreader-bg--ec-ui-02: #26292b;
    --darkreader-border--ec-ui-02: #373c3e;
    --darkreader-bg--ec-ui-03: #43484b;
    --darkreader-border--ec-ui-03: #454b4e;
    --darkreader-bg--ec-background: #1d1f20;
    --darkreader-bg--ec-elevation-01: #181a1b;
    --ec-primary: #0f0f0f;
    --ec-secondary: #e6e6e6;
    --ec-secondary-opacity: rgba(51, 51, 51, 0.1);
    --ec-ternary: #1a1a1a;
    --ec-interaction: #005cff;
    --ec-interaction-h: #0054e6;
    --ec-interaction-a: #004acc;
    --ec-interaction-compl: #ffffff;
    --ec-interaction-high-contrast: #ffffff;
    --ec-text-01: #e6e6e6;
    --ec-text-02: #999999;
    --ec-text-03: #b3b3b3;
    --ec-text-04: #ffffff;
    --ec-text-05: #ffffff;
    --ec-ui-02: #e6e6e6;
    --ec-ui-03: rgba(255, 255, 255, 0.55);
    --ec-background: #211431;
    --ec-elevation-01: #331e4c;
    --darkreader-bg--ec-primary: #0b0c0d;
    --darkreader-text--ec-primary: #dfdcd7;
    --darkreader-text--ec-secondary: #d8d5d0;
    --darkreader-border--ec-secondary: #373c3e;
    --darkreader-bg--ec-secondary-opacity: rgba(38, 42, 43, 0.1);
    --darkreader-bg--ec-ternary: #141516;
    --darkreader-bg--ec-interaction: #004acc;
    --darkreader-text--ec-interaction: #3399ff;
    --darkreader-bg--ec-interaction-h: #0043b8;
    --darkreader-text--ec-interaction-h: #42a1ff;
    --darkreader-bg--ec-interaction-a: #003ba3;
    --darkreader-text--ec-interaction-compl: #e8e6e3;
    --darkreader-bg--ec-interaction-high-contrast: #181a1b;
    --darkreader-bg--ec-text-01: #26292b;
    --darkreader-text--ec-text-01: #d8d5d0;
    --darkreader-border--ec-text-01: #373c3e;
    --darkreader-text--ec-text-02: #a8a095;
    --darkreader-bg--ec-text-03: #43484b;
    --darkreader-text--ec-text-03: #b8b2a9;
    --darkreader-border--ec-text-03: #454b4e;
    --darkreader-text--ec-text-04: #e8e6e3;
    --darkreader-text--ec-text-05: #e8e6e3;
    --darkreader-bg--ec-ui-02: #26292b;
    --darkreader-border--ec-ui-02: #373c3e;
    --darkreader-bg--ec-ui-03: rgba(24, 26, 27, 0.55);
    --darkreader-border--ec-ui-03: rgba(48, 52, 54, 0.55);
    --darkreader-bg--ec-background: #1a1027;
    --darkreader-bg--ec-elevation-01: #29183d;
    --ec-primary: #0f0f0f;
    --ec-secondary: #e6e6e6;
    --ec-secondary-opacity: rgba(51, 51, 51, 0.1);
    --ec-ternary: #1a1a1a;
    --ec-interaction: #005cff;
    --ec-interaction-h: #0054e6;
    --ec-interaction-a: #004acc;
    --ec-interaction-compl: #ffffff;
    --ec-interaction-high-contrast: #ffffff;
    --ec-text-01: #e6e6e6;
    --ec-text-02: #999999;
    --ec-text-03: #b3b3b3;
    --ec-text-04: #ffffff;
    --ec-text-05: #ffffff;
    --ec-ui-02: #e6e6e6;
    --ec-ui-03: rgba(255, 255, 255, 0.55);
    --ec-background: #211431;
    --ec-elevation-01: #331e4c;
    --darkreader-bg--ec-primary: #0b0c0d;
    --darkreader-text--ec-primary: #dfdcd7;
    --darkreader-text--ec-secondary: #d8d5d0;
    --darkreader-border--ec-secondary: #373c3e;
    --darkreader-bg--ec-secondary-opacity: rgba(38, 42, 43, 0.1);
    --darkreader-bg--ec-ternary: #141516;
    --darkreader-bg--ec-interaction: #004acc;
    --darkreader-text--ec-interaction: #3399ff;
    --darkreader-bg--ec-interaction-h: #0043b8;
    --darkreader-text--ec-interaction-h: #42a1ff;
    --darkreader-bg--ec-interaction-a: #003ba3;
    --darkreader-text--ec-interaction-compl: #e8e6e3;
    --darkreader-bg--ec-interaction-high-contrast: #181a1b;
    --darkreader-bg--ec-text-01: #26292b;
    --darkreader-text--ec-text-01: #d8d5d0;
    --darkreader-border--ec-text-01: #373c3e;
    --darkreader-text--ec-text-02: #a8a095;
    --darkreader-bg--ec-text-03: #43484b;
    --darkreader-text--ec-text-03: #b8b2a9;
    --darkreader-border--ec-text-03: #454b4e;
    --darkreader-text--ec-text-04: #e8e6e3;
    --darkreader-text--ec-text-05: #e8e6e3;
    --darkreader-bg--ec-ui-02: #26292b;
    --darkreader-border--ec-ui-02: #373c3e;
    --darkreader-bg--ec-ui-03: rgba(24, 26, 27, 0.55);
    --darkreader-border--ec-ui-03: rgba(48, 52, 54, 0.55);
    --darkreader-bg--ec-background: #1a1027;
    --darkreader-bg--ec-elevation-01: #29183d;
  }